body{
  background:#B0E0E6  ;
}

button {
  padding: 1px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAFF8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0px 3px 3px #986;
}

button:hover {background-color: #00BFFF}

button:active {
  background-color: #00BFFF;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

p{
  font-size: 30px;
}
